# “I’d like to start an EdTech company in France. Based on data, could you give me some business model advices to raise funds?”

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('datas/input.csv', sep=';', parse_dates=True, squeeze=True)

In [8]:
df.head(10)

,ID,Nom startup,description fr,description en,web,creation,Dirigeants,Nbr employes,employeesref,Code postal,...,filter_tech_12,filter_tech_13,users_1,users_2,users_3,users_4,users_5,users_6,users_7,users_8
0,2,1to1PROGRESS,Organisme de formation linguistique à distance...,French training organism specialized in lingui...,1to1progress.com,2011,"Laurent Zalc, Jonathan Ways",1-5,4.0,75014,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Particuliers,Individus en emploi,Individus en reconversion ou sans emploi
1,3,360Learning,"Créez et diffusez rapidement vos cours, en lig...",Quickly create and send online courses with en...,http://360learning.com,2010,"Nicolas Hernandez, Guillaume Alary, Sébastien ...",41 — 80,5.0,75008,...,NaN,NaN,NaN,NaN,Étudiants,Apprentis et étudiants en voie professionnelle,Établissement et professionnels de l'enseignement,Particuliers,NaN,NaN
2,4,3W Academy,formation au métier de développeur,We train web developpers,https://3wa.fr,2012,Djamchid Dalili,1-5,3.0,75018,...,NaN,NaN,NaN,NaN,Étudiants,Apprentis et étudiants en voie professionnelle,Établissement et professionnels de l'enseignement,Particuliers,NaN,Individus en reconversion ou sans emploi
3,6,Academyk,La mission d’Academyk est de développer les co...,Academyk's mission is to develop knowledge and...,academyk.org,2015,Julien Andre,1-5,1.0,75003,...,NaN,NaN,NaN,NaN,Étudiants,Apprentis et étudiants en voie professionnelle,Établissement et professionnels de l'enseignement,Particuliers,NaN,NaN
4,7,Adways SAS,"Adways a développé, entre autres, une platefor...",Adways has invented a SaaS platform that allow...,adways.com,2011,"Jacques CAZIN, David Thibault, Fabrice Jaeger",1-5,3.0,69003,...,NaN,NaN,NaN,NaN,NaN,NaN,Établissement et professionnels de l'enseignement,NaN,NaN,NaN
5,8,AGT DiGiTAL,AGT DiGiTAL a élaboré la première application ...,AGT DiGiTAL has developed the first training A...,http://www.agtdigital.com,2013,"Bruno Gaumétou, Robert Topolovac, Damien Ancin...",1-5,1.0,95880,...,NaN,NaN,NaN,NaN,NaN,Apprentis et étudiants en voie professionnelle,Établissement et professionnels de l'enseignement,NaN,Individus en emploi,Individus en reconversion ou sans emploi
6,9,aimaira,aimaira est un ERP conçu pour l’enseignement s...,aimaira est un ERP conçu pour l’enseignement s...,https://www.aimaira.fr,2015,"Jean Dufranne, Isabelle Geneste, Stéphane Henry",11-20,2.0,75016,...,NaN,NaN,NaN,NaN,Étudiants,NaN,Établissement et professionnels de l'enseignement,NaN,NaN,NaN
7,10,albert académie,albert académie propose du contenu e-learning ...,albert académie provides french companies e-le...,https://www.albert-academie.com,2015,"Gabriel Jarrosson, Bruno Jarrosson",1 — 5,1.0,92270,...,NaN,NaN,NaN,NaN,Étudiants,Apprentis et étudiants en voie professionnelle,Établissement et professionnels de l'enseignement,Particuliers,Individus en emploi,Individus en reconversion ou sans emploi
8,11,Alcuin,Nous sommes éditeurs de solutions logicielles ...,Alcuin provides SaaS software solutions. Our H...,http://www.alcuin.com,2013,"Laurent Balaine, Président et Fondateur\nHervé...",81-100,5.0,49070,...,NaN,NaN,NaN,NaN,Étudiants,Apprentis et étudiants en voie professionnelle,Établissement et professionnels de l'enseignement,NaN,NaN,NaN
9,12,ALTERNATIVE DIGITALE,"Alternative Digitale a mis au point DiGiTT, le...",Alternative Digitale provides your workforce w...,http://alternativedigitale.com/,2014-01-01 00:00:00,Anne-Laure Vincent,1-5,1.0,75010,...,NaN,NaN,NaN,NaN,Étudiants,Apprentis et étudiants en voie professionnelle,NaN,Particuliers,Individus en emploi,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 437 entries, 0 to 436
Data columns (total 65 columns):
ID                         437 non-null int64
Nom startup                437 non-null object
description fr             437 non-null object
description en             437 non-null object
web                        437 non-null object
creation                   437 non-null object
Dirigeants                 434 non-null object
Nbr employes               437 non-null object
employeesref               301 non-null float64
Code postal                437 non-null int64
Région                     415 non-null object
Logo                       416 non-null object
A levé des fonds           437 non-null int64
Souhaite levé des fonds    437 non-null int64
Récompensé                 437 non-null int64
enregistré le              437 non-null object
Id video youtube           94 non-null object
internationale             144 non-null float64
Pays                       164 non-null object
facebook                   197 non-null object
twitter                    194 non-null object
linkedin                   321 non-null object
type                       437 non-null object
filter_types_1             8 non-null object
filter_types_2             427 non-null object
filter_types_3             2 non-null object
filter_clients_1           278 non-null object
filter_clients_2           259 non-null object
filter_clients_3           211 non-null object
filter_clients_4           162 non-null object
filter_clients_5           145 non-null object
filter_clients_6           17 non-null object
filter_services_1          167 non-null object
filter_services_2          160 non-null object
filter_services_3          131 non-null object
filter_services_4          124 non-null object
filter_services_5          106 non-null object
filter_services_6          93 non-null object
filter_services_7          57 non-null object
filter_services_8          51 non-null object
filter_services_9          59 non-null object
filter_secteurs_1          189 non-null object
filter_secteurs_2          173 non-null object
filter_secteurs_3          260 non-null object
filter_tech_1              234 non-null object
filter_tech_2              150 non-null object
filter_tech_3              114 non-null object
filter_tech_4              116 non-null object
filter_tech_5              112 non-null object
filter_tech_6              99 non-null object
filter_tech_7              84 non-null object
filter_tech_8              74 non-null object
filter_tech_9              82 non-null object
filter_tech_10             40 non-null object
filter_tech_11             36 non-null object
filter_tech_12             27 non-null object
filter_tech_13             37 non-null object
users_1                    49 non-null object
users_2                    182 non-null object
users_3                    205 non-null object
users_4                    137 non-null object
users_5                    193 non-null object
users_6                    185 non-null object
users_7                    195 non-null object
users_8                    127 non-null object
dtypes: float64(2), int64(5), object(58)
memory usage: 222.0+ KB

In [7]:
df.describe()

,ID,employeesref,Code postal,A levé des fonds,Souhaite levé des fonds,Récompensé,internationale
count,437.000000,301.000000,437.000000,437.000000,437.000000,437.000000,144.000000
mean,245.789474,1.976744,68278.123570,0.501144,0.304348,0.530892,0.381944
std,150.152175,1.330210,21514.502425,0.500572,0.460658,0.499617,0.487559
min,2.000000,1.000000,2491.000000,0.000000,0.000000,0.000000,0.000000
25%,119.000000,1.000000,64000.000000,0.000000,0.000000,0.000000,0.000000
50%,232.000000,1.000000,75008.000000,1.000000,0.000000,1.000000,0.000000
75%,377.000000,3.000000,75019.000000,1.000000,1.000000,1.000000,1.000000
max,520.000000,7.000000,97200.000000,1.000000,1.000000,1.000000,1.000000